@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

header {
  background-color: #fbf7ff;
  position: fixed;
  width: 100%;
  z-index: 999;
}

header nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}

header nav .logo {
  font-size: 1.2rem;
}

header nav .logo li a {
  color: #574cb6;
  font-weight: bold;
}

header nav .links {
  display: flex;
  align-items: center;
}

header nav .links .link a:hover {
  border-bottom: 1px solid #574cb6;
}

header nav .links li {
  padding-left: 2rem;
  position: relative;
  cursor: pointer;
}

header nav .links li a {
  color: #574cb6;
  font-weight: bold;
  text-transform: uppercase;
}

header nav .links .portfolio {
  position: relative;
  display: inline-block;
}

header nav .links .portfolio .dropdown {
  display: none;
  position: absolute;
  background-color: #fbf7ff;
  padding-top: 1rem;
  padding-right: 1.2rem;
}

header nav .links .portfolio .dropdown li {
  display: block;
  padding-top: 5px;
  padding: 5px;
}

header nav .links .dropdown li:hover {
  background-color: #fbf7ff;
}

header nav .links .portfolio:hover .dropdown {
  display: block;
}

header nav .menu {
  display: none;
  color: #574cb6;
  font-size: 1.4rem;
  cursor: pointer;
}

@media (max-width: 768px) {
  header nav .links {
    display: none;
    position: absolute;
    flex-direction: column;
    top: 59px;
    text-align: center;
    width: 100%;
    left: 0;
    background-color: #fbf7ff;
  }
  header nav .links li {
    padding: 5px;
  }
  header nav .links .portfolio {
    position: relative;
    display: inline-block;
    padding: 0px;
  }
  header nav .links .portfolio .dropdown {
    display: none;
    position: relative;
    padding: 0;
    background-color: #fbf7ff;
  }
  header nav .links .portfolio .dropdown li {
    display: block;
    padding: 0px;
  }
  header nav .active {
    display: flex;
  }
  header nav .menu {
    display: block;
  }
}

.container {
  width: 100%;
  margin: 0 auto;
  max-width: 80%;
}

footer {
  position: relative;
  background-color: #fbf7ff;
  padding-bottom: 2rem;
}

footer .copyright {
  display: flex;
  justify-content: center;
}

footer .top {
  padding-top: 1rem;
  display: flex;
  justify-content: space-around;
  width: 100%;
}

footer .top .text {
  max-width: 450px;
  font-size: 1rem;
}

footer .top .text h2 {
  padding-bottom: 1rem;
  color: #574cb6;
}

footer .top .text p {
  padding-bottom: 1rem;
  padding-right: 5px;
}

footer .top form {
  max-width: 450px;
  width: 100%;
}

footer .top form textarea {
  width: 450px;
  resize: vertical;
  background-color: #a398ff;
  border: none;
  border-radius: 5px;
  padding: 0.8rem;
  color: #fbf7ff;
  font-size: 1rem;
  font-family: inherit;
}

footer .top form textarea:focus {
  outline: 1px solid #fbf7ff;
}

footer .top form textarea::placeholder {
  color: #fbf7ff;
}

footer .top form button {
  background-color: #a398ff;
  border: none;
  border-radius: 5px;
  width: 100%;
  cursor: pointer;
  padding: 0.8rem;
  color: #fbf7ff;
  margin-top: 0.5rem;
  font-size: 1rem;
  font-weight: bold;
}

footer .top form button:hover {
  background-color: #9589ff;
}

footer .top form input:-webkit-autofill,
footer .top form textarea:-webkit-autofill,
footer .top form select:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px #a398ff inset !important;
  -webkit-text-fill-color: #fbf7ff !important;
}

footer .top form input {
  width: 450px;
  font-family: inherit;
  background-color: #a398ff;
  border: none;
  border-radius: 5px;
  padding: 0.8rem;
  color: #fbf7ff;
  margin-bottom: 1rem;
  font-size: 1rem;
}

footer .top form input::placeholder {
  color: #fbf7ff;
  background-color: #a398ff;
}

footer .top form input:focus {
  outline: 1px solid #fbf7ff;
  background-color: #a398ff;
}

@media (max-width: 1024px) {
  footer .top {
    flex-direction: column;
    justify-content: center;
  }
  footer .top .text {
    padding-bottom: 1rem;
    margin: 0 auto;
  }
  footer .top form {
    margin: 0 auto;
    width: 100%;
  }
  footer .top form input {
    width: 100%;
  }
  footer .top form textarea {
    width: 100%;
  }
}

.heroabout {
  background-color: #fbf7ff;
  min-height: 50vh;
}

.about {
  color: #a398ff;
  font-size: 1rem;
  padding-bottom: 20px;
}

.about h1 {
  padding-top: 80px;
}

.hero {
  position: relative;
  height: 100vh;
  background-color: #fbf7ff;
}

.hero .container .text-hero {
  color: #7f77c4;
  padding-top: 15vh;
  font-size: 2.9vw;
  word-wrap: break-word;
}

.hero .first {
  position: absolute;
  bottom: 30px;
  width: 100%;
  overflow-x: hidden;
}

.hero .first text {
  bottom: 10px;
  font-size: 1.2rem;
  font-weight: bold;
}

.hero .second {
  position: absolute;
  bottom: 0;
  width: 100%;
  overflow-x: hidden;
}

.hero .second path {
  width: 100px;
}

@media (max-width: 480px) {
  .hero .container .text-hero {
    font-size: 2rem;
  }
  .about {
    color: #a398ff;
    font-size: 0.9rem;
  }
  .about h1 {
    font-size: 2rem;
  }
  .about .text-hero {
    padding-top: 40px !important;
  }
}

@media (max-width: 1400px) {
  .hero .container .text-hero {
    font-size: 2.5rem;
  }
}

@media (max-width: 1024px) {
  .hero .container .text-hero {
    font-size: 2.4rem;
  }
}

@media (max-width: 768px) {
  .hero .container .text-hero {
    font-size: 1.8rem;
  }
}

@media (max-height: 700px) {
  .hero .container .text-hero {
    font-size: 1.8rem;
  }
}

@media (max-height: 640px) {
  .hero .container .text-hero {
    font-size: 1.4rem;
  }
}

@media (max-height: 540px) {
  .hero .container .text-hero {
    font-size: 1rem;
  }
}

.designtwo {
  position: relative;
  background-color: #fbf7ff;
}

.designtwo p {
  text-align: center;
  font-size: 1rem;
  color: #574cb6;
  padding-bottom: 4rem;
  padding-top: 2rem;
}

.designtwo .images {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 4rem;
}

.designtwo .images .second {
  max-width: 53%;
  width: 100%;
}

.designtwo .images img {
  max-width: 42.5%;
  width: 100%;
}

@media (max-width: 1024px) {
  .designtwo .images {
    flex-direction: column;
  }
  .designtwo .images .second {
    max-width: 100%;
  }
  .designtwo .images img {
    padding-bottom: 2rem;
    max-width: 100%;
    height: auto;
  }
}

.info {
  background-color: #a398ff;
  padding-bottom: 6rem;
  padding-top: 6rem;
}

.info .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.info .container .text {
  max-width: 100%;
  font-size: 1.3rem;
  padding-bottom: 50px;
  padding-right: 1rem;
}

.info .container .text h2 {
  padding-top: 1.4rem;
  font-size: 3.6rem;
  color: #fbf7ff;
}

.info .container .text p {
  padding-top: 2rem;
  color: #fbf7ff;
}

.info .container .text li {
  padding-top: 2rem;
}

.info .container .text li a {
  background-color: #fbf7ff;
  color: #574cb6;
  padding: 10px 15px;
  font-size: 1.2rem;
  border-radius: 5px;
  font-weight: bold;
}

.info .container .text li a:hover {
  background-color: #eedeff;
  transition: all ease-in-out 0.1s;
}

@media (max-width: 1024px) {
  .info .container {
    flex-direction: column;
  }
  .info .container .text {
    padding-right: 0;
    padding-top: 2rem;
  }
  .info .container .text p {
    font-size: 1rem;
  }
}

@media (max-width: 768px) {
  .info .container {
    padding-bottom: 0;
  }
  .info .container .text {
    max-width: 100%;
  }
  .info .container .image img {
    width: 100%;
    max-width: 100%;
    height: auto;
  }
}

.ui {
  text-align: center;
  background-color: #fbf7ff;
  position: relative;
  padding-bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.ui h2 {
  font-size: 3.4rem;
  color: #7f77c4;
  padding-top: 8vh;
}

.ui .phones {
  display: none;
}

.ui .phones img {
  max-width: 80%;
}

.ui img {
  max-width: 80%;
}

@media (max-width: 768px) {
  .ui {
    padding-bottom: 1rem;
  }
  .ui h2 {
    padding-top: 8vh;
  }
}

@media (max-width: 1024px) {
  .ui .phone {
    display: none;
  }
  .ui .phones {
    display: block;
  }
}

.homee {
  background-color: #fbf7ff;
  position: relative;
}

.homee .container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 2rem;
  padding-top: 2rem;
}

.homee .container .iframe-container {
  position: relative;
  width: 10em;
  display: inline-block;
  width: 100%;
  padding: 0 0 50%;
}

.homee .container .iframe-container iframe {
  margin: 0 auto;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 79%;
  height: 90%;
}

.homee .container p {
  max-width: 900px;
  padding-bottom: 2rem;
  margin: 0 auto;
  color: #574cb6;
  width: 100%;
}

.homee .container li {
  margin: 0 auto;
  padding: 1rem 0;
}

.homee .container li a {
  color: #fbf7ff;
  background-color: #a398ff;
  padding: 0.8rem 1.6rem;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
}

.homee .container li a:hover {
  background-color: #8c7fff;
  transition: ease-in-out all 0.1s;
}

@media (max-width: 1200px) {
  .homee .container .iframe-container iframe {
    height: 100%;
    width: 100%;
  }
  .homee .container p {
    padding-top: 1rem;
  }
}

.figma {
  position: relative;
  background-color: #fbf7ff;
  padding-bottom: 4rem;
}

.figma img {
  position: relative;
  width: 100%;
  max-width: 100%;
  padding: 1rem 0;
}

.figma .mobile {
  display: none;
}

@media (max-width: 1200px) {
  .figma .plan {
    display: none;
  }
  .figma .tidsplan {
    display: none;
  }
  .figma .mobile {
    display: block;
  }
  .figma .mobile .line {
    max-width: 50%;
  }
}

@media (max-width: 768px) {
  .figma .mobile {
    display: block;
  }
  .figma .mobile .line {
    max-width: 100%;
  }
}

.logos {
  position: relative;
  background-color: #a398ff;
  z-index: 0;
}

.logos .container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 4rem;
  padding-bottom: 12rem;
  z-index: 2;
}

.logos .container .image {
  width: 50%;
}

.logos .container .image img {
  width: 80%;
}

.logos .container .text {
  max-width: 60%;
  width: 35%;
  color: #fbf7ff;
  font-size: 1rem;
}

.logos .container .text img {
  width: 100%;
}

.logos .designsvg {
  position: absolute;
  top: -1px;
  width: 100%;
  overflow-x: hidden;
  transform: rotate(180deg);
  z-index: 1;
}

.logos .designsvg path {
  width: 100px;
}

.logos .designsvgtwo {
  position: absolute;
  bottom: -1px;
  width: 100%;
  overflow-x: hidden;
  z-index: -1;
}

.logos .designsvgtwo path {
  width: 100px;
}

@media (max-width: 1024px) {
  .logos h2 {
    font-size: 2.8rem;
  }
  .logos .container {
    flex-direction: column;
  }
  .logos .container .image {
    width: 100%;
    max-width: 100%;
  }
  .logos .container .image img {
    margin: 0 auto;
    width: 100%;
    max-width: 100%;
    height: auto;
  }
  .logos .container .text {
    max-width: 100%;
    width: 100%;
  }
  .logos .container .text img {
    width: 100%;
  }
}

@media (max-width: 400px) {
  .logos .container {
    flex-direction: column;
    padding-top: 2rem;
  }
}

@media (max-width: 480px) {
  .logos h2 {
    font-size: 3rem;
  }
}

@media (max-width: 400px) {
  .logos .container {
    padding-top: 6rem;
  }
}

@media (max-width: 358px) {
  .logos .container {
    padding-top: 2rem;
  }
}

.design {
  position: relative;
  background-color: #a398ff;
  padding-bottom: 2rem;
}

.design h2 {
  font-size: 3.4rem;
  color: #fbf7ff;
  text-align: center;
  padding-top: 6rem;
}

.design p {
  text-align: center;
  font-size: 1rem;
  color: #fbf7ff;
  padding-bottom: 1.5rem;
}

.design .images {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 2rem;
  padding-top: 2rem;
}

.design .images .second {
  max-width: 45.7%;
  width: 100%;
  height: auto;
}

.design .images .first {
  max-width: 58.85%;
  width: 100%;
}

@media (max-width: 1024px) {
  .design .images {
    flex-direction: column;
    max-width: 100%;
    width: 100%;
    height: auto;
  }
  .design .images .first {
    padding-bottom: 2rem;
    max-width: 100%;
    height: auto;
  }
  .design .images .second {
    width: 125%;
    max-width: 150%;
    height: auto;
  }
}

@media (max-width: 480px) {
  .design h2 {
    font-size: 3rem;
  }
}

.coopdesign {
  background-color: #a398ff;
  padding: 2rem 0;
}

.coopdesign h2 {
  font-size: 3.4rem;
  color: #fbf7ff;
  padding-bottom: 1rem;
}

.coopdesign .container {
  display: flex;
}

.coopdesign .container .image img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

.coopdesign .container .text {
  width: 100%;
  max-width: 50%;
  padding-right: 1rem;
}

.coopdesign .container .text p {
  padding-bottom: 1rem;
}

@media (max-width: 1024px) {
  .coopdesign .container {
    flex-direction: column-reverse;
  }
  .coopdesign .container .text {
    max-width: 100%;
  }
}

@media (max-width: 768px) {
  .coopdesign h2 {
    font-size: 2.4rem;
  }
}

@media (max-width: 480px) {
  .coopdesign h2 {
    font-size: 1.4rem;
  }
}

.coopdesigntwo {
  background-color: #fbf7ff;
  padding: 4rem 0;
}

.coopdesigntwo .container {
  display: flex;
}

.coopdesigntwo .container img {
  width: 100%;
  max-height: 100%;
  height: auto;
}

.coopdesigntwo .container .left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-right: 2rem;
}

.coopdesigntwo .container .left .two {
  padding-top: 2rem;
  bottom: 0;
}

.coopdesigntwo .container .right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.coopdesigntwo .container .right .two {
  padding-top: 2rem;
  bottom: 0;
}

@media (max-width: 1024px) {
  .coopdesigntwo .container {
    flex-direction: column;
  }
  .coopdesigntwo .container .left {
    padding-bottom: 2rem;
  }
}

.coopdesignthree {
  background-color: #a398ff;
  padding: 4rem 0;
}

.coopdesignthree .container .mobile {
  display: none;
}

.coopdesignthree .container .top {
  display: flex;
  padding-bottom: 2rem;
}

.coopdesignthree .container .top .left p {
  padding-top: 7px;
}

.coopdesignthree .container .top .right img {
  width: 100%;
  max-width: 120%;
}

.coopdesignthree .container .top .right p {
  margin-top: -10px;
  margin-left: 7px;
}

.coopdesignthree .container .top .left {
  padding-right: 1rem;
}

.coopdesignthree .container img {
  width: 100%;
  max-height: 100%;
  height: auto;
}

@media (max-width: 1024px) {
  .coopdesignthree .container .mobile {
    display: block;
  }
  .coopdesignthree .container .mobile p {
    padding-top: 1rem;
  }
  .coopdesignthree .container .top .left {
    display: none;
  }
  .coopdesignthree .container .bottom {
    display: none;
  }
}

.biketrace {
  padding: 3rem 0;
  background-color: #fbf7ff;
}

.biketrace .container h2 {
  font-size: 3.4rem;
  color: #574cb6;
  padding-bottom: 1rem;
}

.biketrace .container .brand {
  display: flex;
}

.biketrace .container .brand .first {
  padding-right: 2rem;
}

.biketrace .container .brand img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

@media (max-width: 1024px) {
  .biketrace .container .brand {
    flex-direction: column;
  }
  .biketrace .container .brand .first {
    padding-bottom: 1rem;
  }
}

@media (max-width: 768px) {
  .biketrace .container h2 {
    font-size: 2.4rem;
  }
}

@media (max-width: 480px) {
  .biketrace .container h2 {
    font-size: 1.4rem;
  }
}

.biketracetwo {
  padding: 3rem 0;
  background-color: #fbf7ff;
}

.biketracetwo .container h2 {
  font-size: 3.4rem;
  color: #574cb6;
  padding-bottom: 1rem;
}

.biketracetwo .container .brand {
  display: flex;
}

.biketracetwo .container .brand .first {
  padding-right: 2rem;
}

.biketracetwo .container .brand img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

@media (max-width: 1024px) {
  .biketracetwo .container .brand {
    flex-direction: column;
  }
  .biketracetwo .container .brand .first {
    padding-bottom: 1rem;
  }
}

.modal-target {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

/* The Modal (background) */
.modal {
  z-index: 999;
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  padding-bottom: 100px;
  left: 0;
  top: 60px;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: white;
  /* Fallback color */
  background-color: rgba(255, 255, 255, 0.8);
  /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 90%;
  opacity: 1 !important;
  max-width: 1200px;
}

/* Add Animation */
.modal-content {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

/* The Close Button */
.modal-close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #020202;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.modal-close:hover,
.modal-close:focus {
  color: #222222;
  text-decoration: none;
  cursor: pointer;
}
/*# sourceMappingURL=main.css.map */