@import "../base/variables";
@import "../base/breakpoints";

footer {
  position: relative;
  background-color: $fourth-color;
  padding-bottom: 2rem;
  .copyright {
    display: flex;
    justify-content: center;
  }

  .top {
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
    .text {
      max-width: 600px;
      word-wrap: break-word;
      color: $light-color;
    }

    form {
      width: 450px;

      z-index: 998;

      textarea {
        width: 450px;
        background-color: $primary-color;
        border: none;
        border-radius: 5px;
        padding: 0.8rem;
        color: $secondary-color;
        font-size: 0.8rem;
        font-family: inherit;

        &:focus {
          outline: 1px solid $secondary-color;
        }

        &::placeholder {
          color: $secondary-color;
        }
      }

      button {
        background-color: $primary-color;
        border: none;
        border-radius: 5px;
        width: 100%;
        cursor: pointer;
        padding: 0.8rem;
        color: $secondary-color;
        margin-top: 0.5rem;

        &:hover {
          background-color: darken($primary-color, 3%);
        }
      }

      input:-webkit-autofill,
      textarea:-webkit-autofill,
      select:-webkit-autofill {
        -webkit-box-shadow: 0 0 0 1000px $primary-color inset !important;
        -webkit-text-fill-color: $secondary-color !important;
      }

      input {
        width: 450px;
        font-family: inherit;

        background-color: $primary-color;
        border: none;
        border-radius: 5px;
        padding: 0.8rem;
        color: $secondary-color;
        margin-bottom: 1rem;
        font-size: 0.8rem;

        &::placeholder {
          color: $secondary-color;
          background-color: $primary-color;
        }

        &:focus {
          outline: 1px solid $secondary-color;
          background-color: $primary-color;
        }
      }
    }
  }

  .more {
    margin-top: 20px;
    font-size: 1.1rem;
    bottom: 50px;
    z-index: 999;
    left: 40px;

    a {
      color: $secondary-color;
      font-weight: bold;
    }
  }

  .first {
    position: absolute;
    bottom: 30px;
    width: 100%;
    overflow-x: hidden;

    text {
      bottom: 10px;
      font-size: 1.4rem;
      font-weight: 500;
    }
  }

  .second {
    position: absolute;
    bottom: 0;
    width: 100%;
    overflow-x: hidden;

    path {
      width: 100px;
    }
  }
}

@media (max-width: $medium) {
  footer {
    .top {
      flex-direction: column;
      justify-content: center;
      text-align: center;

      .text {
        max-width: 100%;
        padding-bottom: 1rem;
      }

      form {
        margin: 0 auto;
        width: 100%;
        input {
          width: 100%;
        }

        textarea {
          width: 100%;
        }
      }
    }
  }
}
