@import "../base/variables";
@import "../base/breakpoints";

footer {
  position: relative;
  background-color: $secondary-color;
  padding-bottom: 2rem;

  .copyright {
    display: flex;
    justify-content: center;
  }

  .top {
    padding-top: 1rem;
    display: flex;
    justify-content: space-around;
    width: 100%;

    .text {
      max-width: 450px;
      font-size: 1rem;

      h2 {
        padding-bottom: 1rem;
        color: $light-color;
      }

      p {
        padding-bottom: 1rem;
        padding-right: 5px;
      }
    }

    form {
      max-width: 450px;
      width: 100%;

      textarea {
        width: 450px;
        resize: vertical;
        background-color: $primary-color;
        border: none;
        border-radius: 5px;
        padding: 0.8rem;
        color: $secondary-color;
        font-size: 1rem;
        font-family: inherit;

        &:focus {
          outline: 1px solid $secondary-color;
        }

        &::placeholder {
          color: $secondary-color;
        }
      }

      button {
        background-color: $primary-color;
        border: none;
        border-radius: 5px;
        width: 100%;
        cursor: pointer;
        padding: 0.8rem;
        color: $secondary-color;
        margin-top: 0.5rem;
        font-size: 1rem;
        font-weight: bold;

        &:hover {
          background-color: darken($primary-color, 3%);
        }
      }

      input:-webkit-autofill,
      textarea:-webkit-autofill,
      select:-webkit-autofill {
        -webkit-box-shadow: 0 0 0 1000px $primary-color inset !important;
        -webkit-text-fill-color: $secondary-color !important;
      }

      input {
        width: 450px;
        font-family: inherit;

        background-color: $primary-color;
        border: none;
        border-radius: 5px;
        padding: 0.8rem;
        color: $secondary-color;
        margin-bottom: 1rem;
        font-size: 1rem;

        &::placeholder {
          color: $secondary-color;
          background-color: $primary-color;
        }

        &:focus {
          outline: 1px solid $secondary-color;
          background-color: $primary-color;
        }
      }
    }
  }
}

@media (max-width: $medium) {
  footer {
    .top {
      flex-direction: column;
      justify-content: center;

      .text {
        padding-bottom: 1rem;
        margin: 0 auto;
      }

      form {
        margin: 0 auto;
        width: 100%;
        input {
          width: 100%;
        }

        textarea {
          width: 100%;
        }
      }
    }
  }
}
