@import "../base/variables";
@import "../base/breakpoints";

.biketracetwo {
  padding: 3rem 0;
  background-color: $secondary-color;

  p {
    text-align: center;
    padding-top: 1rem;
  }
  .container {
    h2 {
      font-size: 3.4rem;
      color: $light-color;
      padding-bottom: 1rem;
    }
    .brand {
      display: flex;

      img {
        width: 100%;
        max-width: 100%;
        height: auto;
      }

      .newlogo {
        max-width: 71%;
      }
    }
  }
}

@media (max-width: $medium) {
  .biketracetwo {
    .container {
      .brand {
        flex-direction: column;

        .first {
          padding-bottom: 1rem;
          padding-right: 0;
        }

        .newlogo {
          max-width: 100%;
        }
      }
    }
  }
}
