@import "../base/variables";
@import "../base/breakpoints";

.designtwo {
  position: relative;
  background-color: $secondary-color;

  z-index: -2;

  .images {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 4rem;
    padding-bottom: 4rem;

    .second {
      max-width: 53%;
      width: 100%;
    }

    img {
      max-width: 42.5%;
      width: 100%;
    }
  }
}

@media (max-width: $medium) {
  .designtwo {
    .images {
      flex-direction: column;

      .second {
        max-width: 100%;
      }

      img {
        padding-bottom: 2rem;
        max-width: 100%;
        height: auto;
      }
    }
  }
}
