@import "../base/variables";
@import "../base/breakpoints";

.figma {
  position: relative;
  background-color: $secondary-color;
  padding-bottom: 4rem;

  img {
    position: relative;
    width: 100%;
    max-width: 100%;
    padding: 1rem 0;
  }

  .mobile {
    display: none;
  }
}

@media (max-width: $large) {
  .figma {
    .plan {
      display: none;
    }
    .tidsplan {
      display: none;
    }
    .mobile {
      .line {
        max-width: 50%;
      }
      display: block;
    }
  }
}
@media (max-width: $small) {
  .figma {
    .mobile {
      .line {
        max-width: 100%;
      }
      display: block;
    }
  }
}
