@import "../base/variables";
@import "../base/breakpoints";

.figma {
  position: relative;
  background-color: $secondary-color;

  img {
    position: relative;
    width: 100%;
    max-width: 100%;
  }
}

@media (max-width: $small) {
  .figma {
    display: none;
  }
}
