@import "../base/variables";
@import "../base/breakpoints";

.homee {
  background-color: $secondary-color;
  position: relative;

  .container {
    display: flex;
    justify-content: center;
    flex-direction: column;

    padding-bottom: 2rem;
    padding-top: 2rem;

    video {
      max-width: 65%;
      height: auto;
      width: 100%;

      margin: 0 auto;
    }

    p {
      max-width: 900px;
      padding: 2rem 0;
      margin: 0 auto;
      color: $light-color;
      width: 100%;
    }
  }
}

@media (max-width: $large) {
  .homee {
    .container {
      video {
        max-width: 100%;
      }
    }
  }
}
