@import "../base/variables";
@import "../base/breakpoints";

.ui {
  text-align: center;
  background-color: $secondary-color;
  position: relative;
  padding-bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  h2 {
    font-size: 3.4rem;
    color: $fifth-color;
    padding-top: 4rem;
  }

  .phones {
    display: none;

    img {
      max-width: 80%;
    }
  }

  img {
    max-width: 80%;
  }
}

@media (max-width: $small) {
  .ui {
    padding-bottom: 1rem;
    h2 {
      padding-top: 1rem;
    }
  }
}

@media (max-width: $medium) {
  .ui {
    .phone {
      display: none;
    }

    .phones {
      display: block;
    }
  }
}
