@import "../base/variables";
@import "../base/breakpoints";

.ui {
  text-align: center;
  background-color: $secondary-color;
  position: relative;

  padding-bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  h2 {
    font-size: 3.4rem;
    color: $fifth-color;
    padding-top: 4rem;
  }

  img {
    max-width: 80%;
  }

  li {
    margin: 0 auto;
    padding: 1rem 0;
    a {
      color: $secondary-color;
      background-color: $primary-color;
      padding: 0.8rem 1.6rem;
      border-radius: 5px;
      text-transform: uppercase;
      cursor: pointer;
      &:hover {
        background-color: darken($primary-color, 5%);
        transition: ease-in-out all 0.1s;
      }
    }
  }
}

@media (max-width: $small) {
  .ui {
    padding-bottom: 1rem;
    h2 {
      padding-top: 1rem;
    }
  }
}
