// Colors
$primary-color: #a398ff;
$secondary-color: #fbf7ff;
$third-color: #cfcaf8;
$fourth-color: #dbd7ff;
$fifth-color: #7f77c4;
$light-color: #574cb6;
// Fonts
$font-family: "Poppins", sans-serif;
